<div class="block-header">
  <h2>FACTURACION</h2>
</div>

<!-- Data Table -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="container-fluid">

        <div class="row" style="padding-top: 30px">
          <form novalidate [formGroup]="myGroup" (ngSubmit)="update()">
            <div class="col-lg-4">

              <div class="form-group">
                <!-- Full Name -->
                <label for="full_name_id" class="control-label">Full Name</label>
                <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="John Deer">
              </div>

              <div class="form-group">
                <!-- Street 1 -->
                <label for="street1_id" class="control-label">Street Address 1</label>
                <input type="text" class="form-control" id="street1_id" name="street1"
                  placeholder="Street address, P.O. box, company name, c/o">
              </div>

              <div class="form-group">
                <!-- Street 2 -->
                <label for="street2_id" class="control-label">Street Address 2</label>
                <input type="text" class="form-control" id="street2_id" name="street2"
                  placeholder="Apartment, suite, unit, building, floor, etc.">
              </div>
            </div>
            <div class="col-lg-4">

                <div class="form-group">
                  <!-- Full Name -->
                  <label for="full_name_id" class="control-label">Full Name</label>
                  <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="John Deer">
                </div>
  
                <div class="form-group">
                  <!-- Street 1 -->
                  <label for="street1_id" class="control-label">Street Address 1</label>
                  <input type="text" class="form-control" id="street1_id" name="street1"
                    placeholder="Street address, P.O. box, company name, c/o">
                </div>
  
                <div class="form-group">
                  <!-- Street 2 -->
                  <label for="street2_id" class="control-label">Street Address 2</label>
                  <input type="text" class="form-control" id="street2_id" name="street2"
                    placeholder="Apartment, suite, unit, building, floor, etc.">
                </div>
              </div>
            <div class="col-lg-4">
              <div class="form-group">
                <!-- City-->
                <label for="city_id" class="control-label">City</label>
                <input type="text" class="form-control" id="city_id" name="city" placeholder="Smallville">
              </div>

              <div class="form-group">
                <!-- State Button -->
                <label for="state_id" class="control-label">State</label>
                <select class="form-control" id="state_id">
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>

              <div class="form-group">
                <!-- Zip Code-->
                <label for="zip_id" class="control-label">Zip Code</label>
                <input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####">
              </div>

              <div class="form-group">
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Buy!</button>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- #END# -->