   <!-- Data Table -->
   <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                  <h2>
                      {{tituloTabla}}
                  </h2>
                  <ul class="header-dropdown m-r--5">
                      <li class="dropdown">
                          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                          </a>
                          <ul class="dropdown-menu pull-right">
                              <li><a data-toggle="modal" data-target="#addModel">Añadir</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="body">
                  <div class="table-responsive">
                      <table 
                        class="table table-bordered table-striped table-hover"
                        [ngClass] = "isExportable ? 'js-exportable' : 'js-basic-example'"
                        id="dataTable_{{ _idTable }}">
                          <thead>
                              <tr>
                                <th *ngFor="let col of columnasTitle">{{col}}</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                <th *ngFor="let col of columnasTitle">{{col}}</th>
                              </tr>
                          </tfoot>
                          <tbody>
                              <tr *ngFor="let item  of listadoRows">
                                  <td *ngFor="let field of columnasValues">{{ item[field] }} </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- #END# -->