<form [formGroup] = "genericForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group form-float" *ngFor="let input of listadoInput">
        <div class="form-line">
            <label class="form-label">{{input.label}}</label>
            <input type="{{input.type}}" class="form-control"
              [ngClass] = "(genericForm.controls[input.nombre].invalid && genericForm.controls[input.nombre].touched) ? 'error' : ''"
              id="{{input.nombre}}" 
              name="{{input.nombre}}"
              formControlName="{{input.nombre}}"
              >
              <!-- placeholder="{{input.label}}" -->
            
        </div>
    </div>
    <button type="reset" class="btn btn-default">BORRAR</button>
    <button class="btn btn-primary waves-effect" 
      type="submit"
      [disabled] = !genericForm.valid>AÑADIR</button>
      <div class="form-group form-float" 
          [hidden] = !isSend>
          <p class="text-info pull-right">Añadido Correctamente</p>
      </div>
</form>