<div class="theme-red">

    <!-- Loader y Overlay -->
    <!-- <app-loader></app-loader> -->

    <!-- Search Bar and Top Bar -->
    <app-topbar></app-topbar>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <app-leftsidebar></app-leftsidebar>
        <!-- #END# Left Sidebar -->

        <!-- Right Sidebar Selector de colores (Se puede eliminar)-->
        <app-rightsidebar></app-rightsidebar>
        <!-- #END# Right Sidebar -->
    </section>

    <!-- <section class="content" [hidden] = !usuario.isLoged> -->
    <section class="content">
        <div class="container-fluid">
            <!--Carga el contenido que tiene la página de inicio-->
            <router-outlet></router-outlet>
            <!-- END home -->
        </div>
    </section>

</div>