<div class="block-header">
    <h2>CORREDORES</h2>
</div>

<!--BASIC TABLE-->
<app-basictable 
    [listado]="corredores$" 
    [tituloTabla]="titulo" 
    [columnasTabla]="columnas" 
    [isExportable]="true">
</app-basictable>

<!-- Modal Dialogs ====================================================================================================================== -->
<!-- Default Size -->
<div class="modal fade" id="addModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">AÑADIR CORREDOR</h4>
            </div>
            <div class="modal-body">
                <app-genericform
                    [listadoInput] = "inputsForm"
                    (onSendForm)= "datosForm($event)">
                </app-genericform>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div>