<div class="login-page">
        <div class="login-box">
            <div class="logo">
                <a href="">
                    <b>BOP</b>eritaje</a>
                <small>Admin BootStrap Based</small>
            </div>
            <div class="card">
                <div class="body">
                    <form id="loginForm" [formGroup]="loginForm">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" name="nombre" placeholder="Usuario" formControlName="nombre">
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                <input type="password" class="form-control" name="pass" placeholder="Contraseña" formControlName="pass">
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div> -->
    
                            <div class="col-xs-12">
                                <button class="btn btn-block bg-pink waves-effect" type="submit" (click)="acceder()">ACCEDER</button>
                            </div>
                        </div>
                        <div class="row m-t-15 m-b--20" *ngIf="alertmsn!=''">
                            <div class="col-xs-12">
                                <p class="col-pink font-bold" style="text-align: center">Datos Incorretos</p>
                            </div>
    
                            <!--  <div class="col-xs-6">
                            <a href="sign-up.html">Register Now!</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a href="forgot-password.html">Forgot Password?</a>
                        </div>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
