
<div class="block-header">
    <h2>LISTADO PERTIACIONES</h2>
</div>


<app-basictable
   [listado] = "peritaciones$"
   [tituloTabla] = "titulo"
   [columnasTabla] = "columnas"
   [isExportable] = "true">
</app-basictable>

